body {
    background-color: bisque;
    font-family: verdana, sans-serif;
    color : black;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    font-size: 120%;
}

/*images size*/
img {
    width: 20%;
}
.J {
    height: 70px; 
    width: 120px; 
    margin-left: 3%;
}
#A {
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius:  10px;
    border: 5px solid coral; 
}
.back {
    background-image: url(images/insideout.jpeg);
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 40%;
    background-attachment: fixed;
}
.image {
    height: 380;
    width: 250;
    padding-bottom: 2%;
    margin-left: 41%;
    margin-right: 5%;
}
.parback {
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius:  10px;
}
.link {
    padding-left: 25%;
    padding-right: 25%;
}

/*css font*/
p {
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    font-family: verdana, sans-serif;
    text-align: justify;
}
table, th, td {
    border: 1px solid;
   margin:auto;
}
table {
 width: 65%;
}
.director {
    list-style-type: square;
    text-align: justify;
    color: black;
    font-size: 100%;
    font-family: verdana, sans-serif;
}
#D {
    text-align: center;
    background-color: lemonchiffon;
    width: 500px;
    border: 15px solid chocolate;
    padding: 50px;
    margin-left: 25%;
}

/*link*/
.film {
    background-color: coral;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 34%;
}

/*footer*/
.fa-instagram {
    color: black;
    margin-left: 2%;
}
.nama {
    text-align: center;
}